/* GABRIEL */
#body {
    justify-content: space-evenly;
}

.margem {
    margin-top: 100px !important;

}

.carousel-inner img {
    height: 200px; /* altura fixa */
    object-fit: cover; /* cobre o espaço sem distorcer */
  }
