/* KAUÃ */
@media (min-width: 350px) {
    #sobre_nos{
        width: 100%;
    }
}

@media (min-width: 992px) {
    .green_line{
        height: 100vh;
    }
}

@media (min-width: 1400px) {}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative; /* Garante o contexto relativo */
    overflow-x: hidden;
}

.block_valores {
    width: 19rem;
    padding: 1.5rem;
    height: 19rem;
}

.imagem-valores {
    height: 80px;
    width: 80px;
}

.text-align-justify {
    text-align: justify;
}

.background-nossa-equipe {
    background-color: #F5F5DC;
    color: #111111;
}
