/* KAUÃ */
@media (min-width: 350px) {
    #sobre_nos{
        width: auto;
        height: auto;
    }
    #green_line{
        height: 100vh;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

body{
    overflow-x: hidden;
}

.block_valores {
    width: 19rem;
    padding: 1.5rem;
    height: 19rem;
}

.imagem-valores {
    height: 80px;
    width: 80px;
}

.text-align-justify {
    text-align: justify;
}

#sobre_nos_pagina .background-nossa-equipe {
    background-color: #f5f5a9;
    color: #2F4F4F;
}

#sobre_nos_pagina .text-justify {
    text-align: justify;
}